@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@352&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap");

/* SCROLL BAR CSS */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px grey;
	-moz-box-shadow   : inset 0 0 5px grey;
	        box-shadow: inset 0 0 5px grey;
	z-index: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(105, 105, 105);
	border: 1px solid (rgb(5, 5, 5), 0, 0);
	border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2c2a2a;
}
/* SCROLL BAR ENDS */
/* BODY CSS */
body {
	height: 100%;
	font-family: "Josefin Sans", sans-serif;
	overflow-x: hidden !important;
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: -o-radial-gradient(22.6% 18.1%, 85.6% 215.15%, #090909 0%, #242424 100%);
	background: radial-gradient(85.6% 215.15% at 22.6% 18.1%, #090909 0%, #242424 100%);
}
html,
body {
	overflow-x: hidden;
}
/*BODY CSS ENDS*/
/*NAVBAR CSS*/

#logo {
	height: 40px;
	width: 40px;
	margin: 5px;
}
@media all and (min-width:100px) and (max-width:649px) {
	body {
		overflow-x: hidden !important;
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.navbar-text {
		display: inline-block;
		padding-top: 1rem !important;
		font-size: 1em !important;
		text-align: center !important;
	}
	.fixed-top {
		margin: 0 !important;
		padding-right: 15px !important;
		text-align: center !important;
	}
}
.navbar-text {
	padding-top: 0.8em;
	font-size: 2em;
	color: #efefef !important;
	font-family: "Work Sans", sans-serif;
	line-height: 16px;
	font-weight: normal;
	font-style: normal;
}
#nav-ul li a:hover {
	color: red !important;
}
.navbar-nav .nav-link {
	font-family: "Josefin Sans", sans-serif;
	color: white !important;
}
.navbar {
	background-color: #131313;
}
/*NAVBAR CSS ENDS*/

/*SPEAKERS SECTION*/
.top-button-text{
	position: relative;
	top: 250px;
	
	font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #EFEFEF;

}
.top-buttons{

position: relative;
height: 22px;
top: 267px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: auto;
}
.top-buttons button{
border:none;
background: #EFEFEF;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
color: #141414;
margin: 5px;
height: 40px;
border-radius: 5px;
font-size: 18px;
}
#schedule-text {

position: relative;
width: 472px;
height: 112px;
top: 171px;

font-family: Work Sans;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
text-align: center;
margin: auto;
color: #EFEFEF;
}
.timezone-text {
position: relative;
width: auto;
height: 42px;
top: 195px;
margin: auto;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 42px;
text-align: center;
color: #EFEFEF;
}
.timezone-text span {
	color: red;
}

#schedule-date {
	position: relative;
	width: 60%;
	height: 58px;
	left: 0px;
	top: 387px;
	background: #E71D2B;
	box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.7);
	border-radius: 2px;
}

#schedule-date p {
font-family: IBM Plex Mono;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 55px;
text-align: center;
color: #141414;
}

#register-button-3 button {
	position: relative;
	top: 450px;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 48px;
    color: #141414;
    text-decoration: none;
    text-align: center;
    background: #efefef;
    -webkit-box-shadow: 5px 10px 20px #000;
    box-shadow: 5px 10px 20px #000;
    border: none;
    border-radius: 2px;
    width: 30%;
}
@media all and (max-width: 450px) {
	#schedule-text {
		top: 190px !important;
		font-size: 30px;
		line-height: 30px;
		width: 290px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 15px;
		line-height: 1;
		width: auto;
	}
	.top-buttons button{
	height: 27px;
	border-radius: 8px;
	font-size: 15px;

	}
	#schedule-date {
	position: relative;
    width: 383px;
    height: 38px;
}


#schedule-date p {
font-size: 20px;
line-height: 40px;
}

#register-button-3 button {
	top: 540px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35px;
    border-radius: 2px;
    width: 172px;
}
}
@media all and (min-width: 451px) and (max-width: 689px) {
	#schedule-text {
		top: 190px !important;
		font-size: 38px;
		line-height: 40px;
		width: 470px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 20px;
	}
	.top-buttons button{
	height: 30px;
    border-radius: 8px;
    font-size: 17px;

	}
	#schedule-date {
	position: relative;
    width: 423px;
    height: 48px;
	}

	#schedule-date p {
	font-size: 20px;
	line-height: 40px;
	}

	#register-button-3 button {
	top: 540px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35px;
    border-radius: 2px;
    width: 40%;
}
}
@media all and (min-width: 690px) and (max-width: 840px) {
	#schedule-text {
		top: 190px !important;
    	font-size: 40px;
    	line-height: 45px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 22px;
	}
	.top-buttons button{
	height: 30px;
    border-radius: 8px;
    font-size: 17px;

	}
	
}
@media all and (min-width: 841px) and (max-width: 1200px) {
	#schedule-text {
		top: 190px !important;
		font-size: 45px;
		line-height: 45px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 25px;
	}
	.top-buttons button{
	height: 31px;
    border-radius: 10px;
    font-size: 17px;

	}
	
	
	#register-button-3 button {
	top: 540px;
}
}

/*FAQ SECTION*/
.collapsible {
  background-color: #141414;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 21px;
  font-weight: 600;
}
.faq button {
	outline: none !important;
}
.faq{
	position: relative;
	top: 430px;
	margin-left: 10%;
	margin-right: 10%;
}
.content {
  padding: 0 18px;
  /*width: 80%;*/
  display: none;
  overflow: hidden;
  color: white;
  font-size: 18px;
  background-color: #141414;
}

/*FAQ END*/
/*SPEAKER CSS END*/
/*FOOTER CSS*/
#footer {
	margin-top: 600px;
	color: #efefef;
	background: #131313;
	font-family: "Work Sans", sans-serif;
	font-weight: normal;
	-webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.75);
}
#footer .footer-child span {
	font-size: 14px;
	line-height: 16px;
}
#footer-text-end {
	font-size: 13px;
	line-height: 18px !important;
}
#footer .footer-child h3 {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	line-height: 40px;
	padding-bottom: 20px;
}
#footer-social-media a {
	text-decoration: none;
	color: white;
	font-size: 30px;
}
#footer-social-media a:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.mobile-hide {
	display: block;
}
.footer-col-title {
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item-link {
    cursor: pointer;
}

@media (min-width: 1025px) {
    .footer-item {
        text-align: left;
    }
    .footer-col-title {
        text-align: left;
    }
}
@media only screen and (max-width: 700px) {
	.mobile-hide {
		display: none;
	}
}