@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@352&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap");

/* SCROLL BAR CSS */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px grey;
	-moz-box-shadow   : inset 0 0 5px grey;
	        box-shadow: inset 0 0 5px grey;
	z-index: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(105, 105, 105);
	border: 1px solid (rgb(5, 5, 5), 0, 0);
	border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2c2a2a;
}
/* SCROLL BAR ENDS */
/* BODY CSS */
body {
	height: 100%;
	font-family: "Josefin Sans", sans-serif;
	overflow-x: hidden !important;
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: -o-radial-gradient(22.6% 18.1%, 85.6% 215.15%, #090909 0%, #242424 100%);
	background: radial-gradient(85.6% 215.15% at 22.6% 18.1%, #090909 0%, #242424 100%);
}
html,
body {
	overflow-x: hidden;
}
/*BODY CSS ENDS*/
/*NAVBAR CSS*/

#logo {
	height: 40px;
	width: 40px;
	margin: 5px;
}
@media all and (min-width:100px) and (max-width:649px) {
	body {
		overflow-x: hidden !important;
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.navbar-text {
		display: inline-block;
		padding-top: 1rem !important;
		font-size: 1em !important;
		text-align: center !important;
	}
	.fixed-top {
		margin: 0 !important;
		padding-right: 15px !important;
		text-align: center !important;
	}
}
.navbar-text {
	padding-top: 0.8em;
	font-size: 2em;
	color: #efefef !important;
	font-family: "Work Sans", sans-serif;
	line-height: 16px;
	font-weight: normal;
	font-style: normal;
}
#nav-ul li a:hover {
	color: red !important;
}
.navbar-nav .nav-link {
	font-family: "Josefin Sans", sans-serif;
	color: white !important;
}
.navbar {
	background-color: #131313;
}
/*NAVBAR CSS ENDS*/

/*SPEAKERS SECTION*/
.top-button-text{
	position: relative;
	top: 250px;
	
	font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #EFEFEF;

}
.top-buttons{

position: relative;
height: 22px;
top: 267px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: auto;
}
.top-buttons button{
border:none;
background: #EFEFEF;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
color: #141414;
margin: 5px;
height: 28px;
border-radius: 5px;
font-size: 18px;
}
#schedule-text {

position: relative;
width: 472px;
height: 112px;
top: 171px;

font-family: Work Sans;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
text-align: center;
margin: auto;
color: #EFEFEF;
}
.timezone-text {
position: relative;
width: auto;
height: 42px;
top: 195px;
margin: auto;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 42px;
text-align: center;
color: #EFEFEF;
}
.timezone-text span {
	color: red;
}

#schedule-date {
	position: relative;
	width: 283px;
	height: 58px;
	left: 0px;
	top: 387px;
	background: #E71D2B;
	box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.7);
	border-radius: 2px;
}

#schedule-date p {
font-family: IBM Plex Mono;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 55px;
text-align: center;
color: #141414;
}

.jun27 {
    position: relative;
    top: 150px;
    left: 320px;
}

.jun27-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
}

.jun27-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: column;
	-ms-flex-pack: distribute;
	padding: 20px;
	position: relative;
    left: -158px;
    top: 241px;
	/*padding-top: 225px !important;*/
}

.jun27-hr {
	width: 511px;
    position: relative;
    left: -27%;
    top: 0px;
    border: 1px solid #E71D2B;
}


.speakers-time {
	position: relative;
	top:12px;
	width: 54px;
	height: 23px;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	color: #EFEFEF;
}
.duration{
	position: relative;
	top: 32px;
    right: 80px;
}
.time-and-name{
	display: flex;
	position: relative;


}
.type-intro{
	display: flex;
	position: relative;
	left: -75px;
	
}

.speakers-data-1 {
	width: 511px;
	height: 35px;
	position: relative;
	left: -40px;
	font-family: Work Sans;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	font-style: normal;
	color: #EFEFEF;
	text-transform: uppercase;
}
.speakers-data-2 {
	width: 130px;
	height: 23px;
	text-align: right;
	font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	color: #EFEFEF;

}
.speakers-data-3 {
	width: 740px;
	position: relative;
	left: 40px;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
	font-family: Work Sans;
	font-style: normal;
	color: #EFEFEF;

}
.speakers-data-4 {
	width: 1097px;
	position: relative;
	left: 95px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	color: #EFEFEF;
	width: 77%;
    font-size: 17px;
    text-align: left;
    line-height: 21px;
}

.speakers-buttons{
	position: relative;
    left: 93px;
    display: flex;
}
.speakers-buttons button{
border:none;
height: 28px;
background: #EFEFEF;
border-radius: 5px;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #141414;
margin-right: 5%;

}
#register-button-3 button {
	position: relative;
	top: 450px;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 48px;
    color: #141414;
    text-decoration: none;
    text-align: center;
    background: #efefef;
    -webkit-box-shadow: 5px 10px 20px #000;
    box-shadow: 5px 10px 20px #000;
    border: none;
    border-radius: 2px;
    width: 30%;
}
@media all and (max-width: 450px) {
	#schedule-text {
		top: 190px !important;
		font-size: 30px;
		line-height: 30px;
		width: 290px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 15px;
		line-height: 1;
		width: auto;
	}
	.top-buttons button{
	height: 21px;
	border-radius: 8px;
	font-size: 10px;

	}
	#schedule-date {
	position: relative;
    width: 223px;
    height: 38px;
    left: 0px;
    top: 557px;
}

#schedule-date p {
font-size: 20px;
line-height: 40px;
}

.jun27 {
    position: relative;
    top: 303px;
    left: 216px;

}

.jun27-child {
	padding: 20px;
	position: relative;
    left: -158px;
    top: 241px;
}

.jun27-hr {
	width: 612px;
    position: relative;
    height: 0px;
    left: -332px;	
    border: 1px solid #E71D2B;
}


.speakers-time {
	position: relative;
	top:11px;
	height: 23px;
	font-size: 14px;
	line-height: 23px;
}
.duration{
	position: relative;
    top: 32px;
    text-align: left;
    right: 48px;
    font-size: 14px;
    width: 100%;
}

.time-and-name{
	display: flex;
    position: relative;
    left: -60px;
    margin-right: 33px;
    text-align: right;


}
.type-intro{
	display: flex;
	position: relative;
	left: -75px;
	margin-top: 1.5%;
	
}

.speakers-data-1 {
	width: 511px;
    height: 35px;
    position: relative;
    font-weight: 900;
    font-size: 17px;
    text-align: left;
    line-height: 31px;
    left: -10px;
}
.speakers-data-2 {
	width: 130px;
	height: 23px;
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;

}
.speakers-data-3 {
	width: 740px;
	position: relative;
	font-weight: 800;
	font-size: 17px;
	line-height: 28px;

}
.speakers-data-4 {
	width: auto;
    position: relative;
    left: -55px;
    font-size: 11px;
    text-align: left;
    line-height: 21px;
}

.speakers-buttons{

position: relative;
    left: -57px;
    display: flex;
    margin: 6px;
}
.speakers-buttons button{
	border:none;
margin-right: 5%;
height: 21px;
border-radius: 8px;
font-size: 10px;

}
#register-button-3 button {
	top: 540px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35px;
    border-radius: 2px;
    width: 172px;
}
}
@media all and (min-width: 451px) and (max-width: 689px) {
	#schedule-text {
		top: 190px !important;
		font-size: 38px;
		line-height: 40px;
		width: 470px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 20px;
	}
	.top-buttons button{
	height: 24px;
    border-radius: 8px;
    font-size: 13px;

	}
	#schedule-date {
	position: relative;
    width: 223px;
    height: 38px;
    left: 0px;
    top: 557px;
	}

	#schedule-date p {
	font-size: 20px;
	line-height: 40px;
	}

	.jun27 {
		position: relative;
		top: 303px;
		left: 216px;

	}

	.jun27-child {
		padding: 20px;
		position: relative;
		left: -158px;
		top: 241px;
	}

	.jun27-hr {
		width: 612px;
		position: relative;
		height: 0px;
		top: 0px;
		border: 1px solid #E71D2B;
	}


	.speakers-time {
		position: relative;
		top:11px;
		left: -9%;
		height: 23px;
		font-size: 14px;
		line-height: 23px;
	}
	.duration{
	position: relative;
    top: 32px;
    text-align: left;
    right: 98px;
    font-size: 14px;
    padding-bottom: 2%;
}

	.time-and-name{
		display: flex;
		position: relative;
		margin-right: 33px;
		text-align: right;

	}
	.type-intro{
		display: flex;
		position: relative;
		left: -75px;
		
	}

	.speakers-data-1 {
		width: 511px;
		height: 35px;
		position: relative;
		left: -57px;
		font-weight: 900;
		font-size: 23px;
		text-align: left;
		line-height: 30px;
	}
	.speakers-data-2 {
		width: 130px;
		height: 23px;
		font-weight: bold;
		font-size: 16px;
		line-height: 23px;

	}
	.speakers-data-3 {
		width: 740px;
		position: relative;
		font-weight: 800;
		font-size: 17px;
		line-height: 28px;

	}
	.speakers-data-4 {
		width: auto;
		position: relative;
		left: -55px;
		font-size: 17px;
		text-align: left;
		line-height: 21px;
	}

	.speakers-buttons{

	position: relative;
		left: -57px;
		display: flex;
		margin: 6px;
	}
	.speakers-buttons button{
		border:none;
	margin-right: 5%;
	height: 24px;
	border-radius: 8px;
	font-size: 13px;

	}
	#register-button-3 button {
	top: 540px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35px;
    border-radius: 2px;
    width: 40%;
}
}
@media all and (min-width: 690px) and (max-width: 840px) {
	#schedule-text {
		top: 190px !important;
    	font-size: 40px;
    	line-height: 45px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 22px;
	}
	.top-buttons button{
	height: 26px;
    border-radius: 8px;
    font-size: 14px;

	}
	#schedule-date {
	position: relative;
    width: 223px;
    height: 38px;
    left: 0px;
    top: 557px;
	}

	#schedule-date p {
	font-size: 20px;
	line-height: 40px;
	}

	.jun27 {
		position: relative;
		top: 303px;
		left: 216px;

	}

	.jun27-child {
		padding: 20px;
		position: relative;
		left: -158px;
		top: 241px;
	}

	.jun27-hr {
		width: 77%;
		position: relative;
		left: 2%;
		height: 0px;
		border: 1px solid #E71D2B;
	}


	.speakers-time {
		position: relative;
		top:11px;
		height: 23px;
		font-size: 14px;
		line-height: 23px;
	}
	.duration{
	position: relative;
	top: 32px;
    right: 80px;
}

	.time-and-name{
		display: flex;
		position: relative;
		margin-right: 33px;
		text-align: right;


	}
	.type-intro{
		display: flex;
		position: relative;
		left: -60px;
		margin-top: 1.5%;
		
	}

	.speakers-data-1 {
		width: 511px;
		height: 35px;
		position: relative;
		font-weight: 900;
		font-size: 27px;
		text-align: left;
		line-height: 42px;
	}
	.speakers-data-2 {
		width: 130px;
		height: 23px;
		font-weight: bold;
		font-size: 16px;
		line-height: 23px;

	}
	.speakers-data-3 {
		width: 740px;
		position: relative;
		font-weight: 800;
		font-size: 20px;
		line-height: 28px;

	}
	.speakers-data-4 {
		width: 77%;
		position: relative;
		font-size: 17px;
		text-align: left;
		line-height: 21px;
	}

	.speakers-buttons{

	position: relative;
		display: flex;
		margin: 6px;
	}
	.speakers-buttons button{
		border:none;
	margin-right: 5%;
	height: 26px;
	border-radius: 8px;
	font-size: 14px;

	}
	#register-button-3 button {
	top: 540px;
}
}
@media all and (min-width: 841px) and (max-width: 1200px) {
	#schedule-text {
		top: 190px !important;
		font-size: 45px;
		line-height: 45px;
	}
	.timezone-text {
		top: 195px !important;
		font-size: 25px;
	}
	.top-buttons button{
	height: 31px;
    border-radius: 10px;
    font-size: 16px;

	}
	#schedule-date {
	position: relative;
	width: 283px;
	height: 48px;
	left: 0px;
	top: 497px;

	background: #E71D2B;
	box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.7);
	border-radius: 2px;
	}

	#schedule-date p {
		font-family: IBM Plex Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 51px;
	text-align: right;
	color: #141414;
	}

	.jun27 {
		position: relative;
		top: 260px;
		left: 320px;

	}

	.jun27-items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		
	}

	.jun27-child {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: column;
		-ms-flex-pack: distribute;
		padding: 20px;
		position: relative;
		left: -158px;
		top: 241px;
		/*padding-top: 225px !important;*/
	}

	.jun27-hr {
		width: 511px;
		position: relative;
		height: 0px;	
		border: 1px solid #E71D2B;
	}


	.speakers-time {
		position: relative;
		top:12px;
		width: 54px;
		height: 23px;
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		color: #EFEFEF;
	}

	.duration{
	position: relative;
	top: 32px;
    right: 80px;
	}

	.time-and-name{
		display: flex;
		position: relative;


	}
	.type-intro{
		display: flex;
		position: relative;
		left: -75px;
		
	}

	.speakers-data-1 {
		width: 511px;
		height: 35px;
		position: relative;
		left: -57px;
		font-family: Work Sans;
		font-weight: 900;
		font-size: 36px;
		line-height: 42px;
		font-style: normal;
		color: #EFEFEF;
		text-transform: uppercase;
	}
	.speakers-data-2 {
		width: 130px;
		height: 23px;
		text-align: right;
		font-family: IBM Plex Mono;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		color: #EFEFEF;

	}
	.speakers-data-3 {
		width: 70%;
		position: relative;
		left: 40px;
		font-weight: 800;
		font-size: 24px;
		line-height: 28px;
		font-family: Work Sans;
		font-style: normal;
		color: #EFEFEF;

	}
	.speakers-data-4 {
		width: 70%;
		position: relative;
		font-size: 17px;
		text-align: left;
		line-height: 21px;
	}

	.speakers-buttons{
	position: relative;
		width: 545px;
		height: 52px;
		left: 93px;
		display: flex;
	}
	.speakers-buttons button{
		border:none;
	height: 38px;
	background: #EFEFEF;
	border-radius: 8px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #141414;
	margin-right: 5%;

	}
	#register-button-3 button {
	top: 540px;
}
}

/*SPEAKER CSS END*/
/*FOOTER CSS*/
#footer {
	margin-top: 600px;
	color: #efefef;
	background: #131313;
	font-family: "Work Sans", sans-serif;
	font-weight: normal;
	-webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.75);
}
#footer .footer-child span {
	font-size: 14px;
	line-height: 16px;
}
#footer-text-end {
	font-size: 13px;
	line-height: 18px !important;
}
#footer .footer-child h3 {
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	line-height: 40px;
	padding-bottom: 20px;
}
#footer-social-media a {
	text-decoration: none;
	color: white;
	font-size: 30px;
}
#footer-social-media a:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.mobile-hide {
	display: block;
}
.footer-col-title {
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item-link {
    cursor: pointer;
}

@media (min-width: 1025px) {
    .footer-item {
        text-align: left;
    }
    .footer-col-title {
        text-align: left;
    }
}
@media only screen and (max-width: 700px) {
	.mobile-hide {
		display: none;
	}
}
