@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@352&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html,body {
	height: 100%;
	width: 100%;
	font-family: "Josefin Sans", sans-serif;
	overflow-x:hidden !important;
	position: relative;
}
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
@media(max-width:786px){
	html{
		overflow-x:hidden;
	}
}
/*BODY CSS*/

body{
	background-color: black;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.banner {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.banner img {
	padding-left: 25%;
}

.banner p, h4 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #EFEFEF;

}

.banner-masterclass {
	flex: 1;
}

.banner-breakthrough {
	flex: 1;
}

.banner-entertainment {
	flex: 1;
}

.banner-network {
	flex: 1;
}

.banner-giveaway {
	flex: 1;
}

