/** Timer style **/
  li.timer {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    color: #141414;
    background-color: #f3f1f1;
    padding: 0px 10px;
  }
  
  li.timer span {
    text-align: center;
    display: block;
    font-size: 35px;
    font-weight: bold;
    font-weight: 700;
  }
      
      .post-full-header {
          text-align:center;
      }
      
      .site-nav-left>.site-nav-content {
       display: none;
      }
      

    