/** Timer style **/
  li.timer {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    color: #141414;
    background-color: #f3f1f1;
    padding: 10px 15px 5px 15px;
    line-height: 25px;
    font-weight: 700;
    border-radius: 2px;
  }
  
  li.timer span {
    display: block;
    font-size: 30px;
  }
  @media only screen and (max-width:450px){
    li.timer span{
      font-size: 20px;
    }
    li.timer{
      padding: 0 5px;
      line-height: 20px;
      font-size: 13px;
    }
  }