.footer-col-title {
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item-link {
    cursor: pointer;
}

@media (min-width: 1025px) {
    .footer-item {
        text-align: left;
    }
    .footer-col-title {
        text-align: left;
    }
}