@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@352&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
body { 
	height: 100%;
	font-family: "Josefin Sans", sans-serif;
	overflow-x:hidden !important;
	position: relative;
	margin:0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: radial-gradient(85.6% 215.15% at 22.6% 18.1%, #090909 0%, #242424 100%);
}
html,body{
	overflow-x: hidden;
}
/*BODY CSS ENDS*/ 
/*NAVBAR CSS*/

#logo {
	height: 40px;
	width: 40px;
	margin: 5px;
}
  p{
	  margin: 0;
  }
@media all and (min-width:100px) and (max-width:649px) {
	body {
	overflow-x:hidden !important;
	margin:0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	}
	.navbar-text {
		display: inline-block;
		padding-top: 1rem !important;
		font-size: 1em !important;
		text-align: center !important;
	}
	.fixed-top{
		margin: 0px !important;
		padding-right: 15px !important;
		text-align: center !important;
	} 
}
.navbar-text {
	padding-top: 0.8em;
	font-size: 2em;
	color: #EFEFEF !important;
	font-family: 'Work Sans', sans-serif;
	line-height: 16px;
	font-weight: normal;
	font-style: normal;		
}
#nav-ul li a:hover {
	color: red !important;
}
.navbar-nav .nav-link {
	font-family: "Josefin Sans", sans-serif;
	color: white !important;
}
.navbar {
	background-color: #131313;
}
/*NAVBAR CSS ENDS*/
/*HOME CSS*/
#home-left-text {
	position: absolute;
	width: 681px;
	height: 487px;
	left: 140px;
	top: 92px;
	color: #EFEFEF;
}

#home-left-text p {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-size: 128px;
	font-weight: 900;
	line-height: 91.5%;
}
#home-left-text p span {
	display: inline;
	position: absolute;
	font-size: 29px;
	bottom: 101px;
	left: 396px;
}
#home-left-date {
	position: absolute;
	width: 523px;
	height: 78px;
	left: -30px;
	top: 413px;
	background: #E71D2B;
	border-radius: 3px;
	-webkit-box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
	        box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
	font-family: 'IBM Plex Mono', monospace;
}
#home-left-date p {
	position: absolute;
	left: 127px;
	top: 3px;
	font-weight: bold;
	font-size: 43px;
	line-height: 68px;
	color: #141414;
}
#home-left-text-2 {
	position: absolute;
	left: 151px;
	top: 495px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	line-height: 23px;
	color: #EFEFEF;
	text-shadow: 0px 0px 5px #0fffffc9;
}
#mountain-1-1 {
	background-image: url("../img/mountain1-1.png");
	position: relative;
	height: 618px;
	left: 737px;
	top: 17px;
	mix-blend-mode: screen;
}

#register-button-1 {
	position: relative;
	width: 314px;
	height: 49px;
	left: 21px;
	top: 464px;
	text-align: center;
	background: #EFEFEF;
	-webkit-box-shadow: 5px 10px 20px #000;
	        box-shadow: 5px 10px 20px #000;
	border-radius: 2px;
}

#register-button-1 a {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 48px;
	color: #141414;
	text-decoration: none;
}
@media only screen and (max-width: 1024px) and (min-width: 630px) {
	#home-left-text {
		position: absolute;
		width: 340px;
		height: 240px;
		left: 50px;
		top: 150px;
		color: #EFEFEF;
	}
	
	#home-left-text p {
		font-family: 'Work Sans', sans-serif;
		font-style: normal;
		font-size: 90px;
		font-weight: 900;
		line-height: 91.5%;
	}
	#home-left-text p span {
		display: inline;
		position: absolute;
		font-size: 19px;
		bottom: 0;
		left: 286px;
	}
	#home-left-date {
		position: absolute;
		width: 293px;
		height: 35px;
		left: -30px;
		top: 375px;
		background: #E71D2B;
		border-radius: 3px;
		-webkit-box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
		        box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
		font-family: 'IBM Plex Mono', monospace;
	}
	#home-left-date p {
		position: absolute;
		left: 87px;
		top: -19px;
		font-weight: bold;
		font-size: 17px;
		line-height: 68px;
		color: #141414;
	}
	#home-left-text-2 {
		position: absolute;
		left: 21px;
		top: 411px;
		font-family: 'IBM Plex Mono', monospace;
		font-size: 13px;
		color: #EFEFEF;
		text-shadow: 0px 0px 5px #0fffffc9;
	}
	#mountain-1-1 {
		background-image: url(../img/mountain1-1.png);
		background-repeat: no-repeat;
    	position: relative;
    	height: 618px;
    	left: 37.7%;
    	top: 17px;
	}
	
}
@media only screen and (max-width:630px) {
	#home-left-text {
	position: absolute;
	width: 340px;
	height: 240px;
	left: 14px;
	top: 150px;
	color: #EFEFEF;
}

#home-left-text p {
	font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 70px;
    font-weight: 900;
    line-height: 91.5%;
}
#home-left-text p span {
	display: inline;
    position: absolute;
    font-size: 19px;
    bottom: 31px;
    left: 216px;
}
#home-left-date {
	position: absolute;
    width: 223px;
    height: 28px;
    left: -30px;
    top: 319px;
    background: #E71D2B;
    border-radius: 3px;
    -webkit-box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
            box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
    font-family: 'IBM Plex Mono', monospace;
}
#home-left-date p {
	position: absolute;
    left: 87px;
    top: -19px;
    font-weight: bold;
    font-size: 17px;
    line-height: 68px;
    color: #141414;
}
#home-left-text-2 {
	position: absolute;
    left: 21px;
    top: 355px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    color: #EFEFEF;
    text-shadow: 0px 0px 5px #0fffffc9;
}
#mountain-1-1 {
	background-image: url(../img/mountain1-1.png);
    position: relative;
    height: 618px;
    left: -3px;
    top: 17px;
    mix-blend-mode: screen;
}

#register-button-1 {
	position: relative;
	width: 314px;
	height: 49px;
	left: 21px;
	top: 464px;
	text-align: center;
	background: #EFEFEF;
	-webkit-box-shadow: 5px 10px 20px #000;
	        box-shadow: 5px 10px 20px #000;
	border-radius: 2px;
}

#register-button-1 a {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 48px;
	color: #141414;
	text-decoration: none;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1450px){
	#mountain-1-1 {
	background-image: url(../img/mountain1-1.png);
    background-repeat: no-repeat;
    position: relative;
    height: 618px;
    left: 56%;
    top: 17px;
	}
}
@media only screen and (min-width:1450px){
	#mountain-1-1 {
	background-image: url(../img/mountain1-1.png);
    background-repeat: no-repeat;
    position: relative;
    height: 618px;
    left: 64.8%;
    top: 17px;
	}

	
}


/*HOME SECTION END*/
/*BANNER SECTION*/
#banner-parrent{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.banner-child{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
	-ms-flex-line-pack: center;
	    align-content: center;
}
.banner-text-head{
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #EFEFEF;
}
.banner-text-child{
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #EFEFEF;
}
#banner img{
	vertical-align: middle;
	border-style: none;
}
.extra1{
	padding-left: 75px;
}
#mountain-1-2 {
	background-image: url(../img/mountain1-2.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 459px;
    left: 37.7%;
    top: 635px;
    width: 629px;
    mix-blend-mode: screen;
}
#banner hr {
	position: relative;
	width: 233px;
	top: 202px;
	border: 1px solid #E71D2B;
}
#banner-p {
	position: relative;
	left: 282px;
	top: 189px;
	width: 610px;
	color: #EFEFEF;
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}

@media(max-width:630px) {
	#mountain-1-2 {
	background-image: url("../img/mountain1-2.png");
	position: absolute;
	height: 459px;
	left: -5px;
	top: 635px;
	width: 629px;
}
	#banner hr {
	position: relative;
	width: 123px;
	height: 0px;
	left: 114px;
	top: 202px;
	border: 1px solid #E71D2B;
}
	#banner-p {
	position: relative;
    left: 15px;
    top: 189px;
    width: 340px;
    color: #EFEFEF;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
	}

}
@media only screen and (min-width: 1024px) and (max-width: 1450px) {
	#mountain-1-2 {
	background-image: url(../img/mountain1-2.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 459px;
    left: 56.1%;
    top: 635px;
    width: 629px;
    mix-blend-mode: screen;
	}
}
@media only screen and (min-width:1450px){
	#mountain-1-2 {
	background-image: url(../img/mountain1-2.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 459px;
    left: 64.8%;
    top: 635px;
    width: 629px;
    mix-blend-mode: screen;
	}

}
/*BANNER SECTION END*/
/*SPEAKERS SECTION*/
#speakers{
	margin-top: 200px;
}
#mountain-2{
	position: relative;
	overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
	height: 100%;
	mix-blend-mode: screen;
}

#schedule-text {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	position: relative;
	color: #EFEFEF;
	top: -245px;
	width: 600px;
	left: 373px;
}
.timezone-text{
	position: relative;
	top: -250px;
	left: -100px;
	color: white;
	font-size: 20px;
	text-align: center;
}
.timezone-text span{
	color: red;
}
@media only screen and (max-width:600px){
	.timezone-text{
		left: 5px;
		text-align: left;
	}
}
#schedule-date{
	position: relative;
	width: 380px;
	height: 70px;
	background: #E71D2B;
	border-radius: 3px;
	-webkit-box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
	        box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
	font-family: 'IBM Plex Mono', monospace;
	text-align: left;
	top: auto;
	bottom: 165px;
}
#schedule-date p {
	position: relative;
	font-weight: bold;
	font-size: 34px;
	line-height: 68px;
	color: #141414;
	width: 233px;
	text-align: right;
}
#jun27 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	position: relative;
	top: -116px;
}

.jun27-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-flex:0;
	    -ms-flex:0 1 525px;
	        flex:0 1 525px;
}

.jun27-child{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding: 20px;
	padding-top: 45px !important; 
}

.jun27-hr {
	width: 100px;
	height: 0px;
	border: 1px solid #EFEFEF;
	position: relative;
	left: -24px;
}

.speakers-time{
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 15px;
	color: #EFEFEF;
	text-shadow: 0px 0px 5px #EFEFEF;
}
.speakers-icon {
	width: 99px;
	height: 99px;
	border-radius: 50px;
	left: -18px;
	-webkit-filter: grayscale(40%);
	        filter: grayscale(40%);
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	position: relative;
}

.speakers-icon:hover {
	-webkit-transform: scale(1.25);
	    -ms-transform: scale(1.25);
	        transform: scale(1.25);
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
}
@media all and (max-width: 600px) {
	.speakers-icon:hover {
		-webkit-transform: scale(1.15);
		    -ms-transform: scale(1.15);
		        transform: scale(1.15);
		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		transition: -webkit-transform 0.3s ease-in-out;
		-o-transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	}
}
.speakers-icon:hover:after {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.speakers-data-1 {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 27px;
	line-height: 33px;
	color: #EFEFEF;
}
.speakers-data-2 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 17px;
	line-height: 23px;
	color: #141414;
	background: #E71D2B;
	width: 125px;
}
.speakers-data-3 {
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 900;
	font-size: 18px;
	line-height: 14px;
	color: #EFEFEF;
	text-transform: uppercase;
}
.speakers-data-4 {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #EFEFEF;
}
#schedule-date-2{
	position: relative;
	width: 380px;
	height: 70px;
	background: #E71D2B;
	border-radius: 3px;
	-webkit-box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
	        box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
	font-family: 'IBM Plex Mono', monospace;
	text-align: left;
	top: auto;
	bottom: 70px;
}
#schedule-date-2 p {
	position: relative;
	font-weight: bold;
	font-size: 34px;
	line-height: 68px;
	color: #141414;
	width: 233px;
	text-align: right;
}
#jun-28 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	position: relative;
	top: -55px;
}
.jun28-child{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding: 20px;
	padding-top: 45px !important; 
}
#register-button-2 {
	position: relative;
	width: 390px;
	height: 55px;
	text-align: center;
	background: #EFEFEF;
	-webkit-box-shadow: 5px 10px 20px #000;
	        box-shadow: 5px 10px 20px #000;
	border-radius: 2px;
	top: -758px;
	right: -40px;
	text-align: center;
	display: flex;
	text-align: center;
	margin: auto;
}
#register-button-2 a {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 56px;
	color: #141414;
	text-decoration: none;
	margin: auto !important;
}
#mountain-3 {
	width: 953px;
	height: 736px;
	mix-blend-mode: screen;
	position: relative;
	top: -301px;
	text-align: right;
	right: -396px;
}

@media(max-width:700px) {
#schedule-text {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 56px;
    text-align: center;
    position: relative;
    color: #EFEFEF;
    top: -245px;
    width: 370px;
    left: 13px;
}

#mountain-3 {
    width: 953px;
    height: 736px;
    mix-blend-mode: screen;
    position: relative;
    top: -301px;
    text-align: right;
    right: 94px;
}
}
@media only screen and (max-width: 1200px) and (min-width: 700px) {
	#schedule-text {
		font-family: 'Work Sans', sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 38px;
		line-height: 56px;
		text-align: center;
		position: relative;
		color: #EFEFEF;
		left: 55px;
	}	
}
/*SPEAKER CSS END*/
/*HIGHLIGHTS SECTION*/
#highlights{
	position: relative;
	margin: 0;
	top: -680px;
}

#highlights-text-1 {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #EFEFEF;
	height: 120px;
	width: 600px;
	margin: auto;
}

#highlights-text-2 {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	color: #EFEFEF;
	width: 443px;
	height: 73px;
	margin: auto;
}
#youtube-thumbnail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#youtube-thumbnail iframe {
	border-radius: 12px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 400px;
	        flex: 0 1 400px;
}
.iframe-size{
	height: 300px;
	width: 550px;
}
.carousel-iframe-size{
	height: 195px;
	width: 348px;
}
@media all and (max-width: 570px) and (min-width: 350px){
	.iframe-size{
	height: 280px !important;
	width: 330px !important;
	}
	.carousel-iframe-size{
	height: 190px;
	width: 232px;
	}
	#youtube-thumbnail iframe{
		-webkit-box-flex: 0 !important;
		    -ms-flex: 0 1 300px !important;
		        flex: 0 1 300px !important;
	}
	#video-button {
		width: 250px !important;
		height: 58px !important;
	}
	#video-button a {
		font-size: 18px !important;
		line-height: 20px !important;
	}
	#register-button-2 {
		width: 320px !important;
		height: 48px !important;
		right: -15px !important;
	}
	#register-button-2 a {
		font-size: 18px !important;
		line-height: 48px !important;
	}
}
@media all and (min-width: 1100px){
	.iframe-size{
	height: 600px;
	width: 750px;
	}	
}
@media all and (max-width: 350px){
	.iframe-size{
	height: 200px !important;
	width: 250px !important;
	}
	.carousel-iframe-size{
	height: 150px;
	width: 200px;
	}
	#video-button {
		width: 250px !important;
		height: 44px !important;
	}
	#video-button a {
		font-size: 14px !important;
		line-height: 44px !important;
	}
	#register-button-2 {
		width: 250px !important;
		height: 44px !important;
		right: -15px !important;
	}
	#register-button-2 a {
		font-size: 14px !important;
		line-height: 44px !important;
	}
}	
#video-button {
	position: relative;
	width: 378px;
	height: 55px;
	text-align: center;
	background: #EFEFEF;
	-webkit-box-shadow: 5px 10px 20px #000;
	        box-shadow: 5px 10px 20px #000;
	border-radius: 4px;
	margin: auto ;
	margin-top: 10px;
	display: flex;
	text-align: center;
}
#video-button a {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 21px;
	line-height: 56px;
	color: #141414;
	margin: auto !important;
	text-decoration: none;
}
#mountain-4 {
	mix-blend-mode: screen;
	position: relative;
	top: 90px;
}
#button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	bottom: 164px;
}
#button-container .button-div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  text-align:center;
  color:white;
}
#button-container .button-div a {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50px;
	        flex: 0 0 50px;
	width: 239px;
	background: #EFEFEF;
	border-radius: 3px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 15px;
	line-height: 34px;
	color: #141414;
	text-decoration: none;
}
#button-container .button-div a p{
	position: relative;
	top: 6px;
}
.button-p {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	color: #EFEFEF;
}

@media(max-width:700px) {
	#highlights-text-1 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #EFEFEF;
    height: 170px;
    width: 410px;
    margin: auto;
}

	#highlights-text-2 {
	font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #EFEFEF;
    width: 333px;
    height: 73px;
    margin: auto;
}
}
/*HIGHLIGHTS SECTION*/
/*FOOTER CSS*/
#footer{
	margin-top: -710px;
	color:#EFEFEF;
	background:#131313;
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.75);
}
#footer .footer-child span {
	text-align: center;
	font-size: 14px;
	line-height: 15px;
	padding-top: 15px;
}
#footer .footer-child h3{
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
}
#footer-social-media a{
  text-decoration:none;
  color:white;
  font-size:30px;
}
#footer-social-media a:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}
.mobile-hide{
	display: block;
}
@media only screen and (max-width:700px){
	.mobile-hide{
		display: none;
	}
}