.slider, .slick-arrow {
	display: flex;
}

.slider .items { 
	margin-top: 30px !important;
	margin-bottom: 50px !important;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

@media all and (max-width: 370px){
	.slider .items {
		margin-left: 1px !important;
	} 
}

.slider .items .overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.64)
}

.slider .slick-center .overlay {
	opacity: 0;
}

.slider .items iframe {
	transition: all linear .3s;
}

.slider .slick-center iframe {
	transform: scale(1.2);
}

.slick-arrow {
	align-items: center;
}
